<% hotels.forEach((hotel) => { %>
  <div>
    <a href="/hotels/<%= hotel.id %>">
      <img src="<%= hotel.image %>" alt="<%= hotel.name %>">
      <h2><%= hotel.name %></h2>
      <p>
        <%= hotel.address.line1 %><br>
        <% if(hotel.address.line2) { %><%= hotel.address.line2 %><br><% } %>
        <%= hotel.address.city %><br>
        <%= hotel.address.postcode %><br>
        <%= hotel.address.country %>
      </p>

      <p>
        <% while(hotel.stars--) { %> &star; <% } %>
      </p>
    </a>
  </div>
<% }) %>