<div class="row">
  <div class="col-sm-12">
    <p id="notice"><%= notice %></p>
  </div>
  <div class="col-sm-6">
    <%= image_tag(@book.image) %>
  </div>
  <div class="col-sm-6">
    <h2><%= @book.title %></h2>
    <h2><%= @book.author.first_name %> <%= @book.author.last_name %></h2>
    <h4>£<%= @book.price %></h4>
    <p>ISBN: <%= @book.isbn %></p>
    <p>
      <strong>Genres:</strong>
      <ul class="genres">
        <% @book.genres.each do |genre| %>
        <li><%= genre.name %></li>
        <% end %>
      </ul>
    </p>
    <%= link_to 'Edit', edit_book_path(@book), class: "button" %>
    <%= link_to 'Back', books_path, class: "button" %>
  </div>
</div>
